<app-header></app-header>
<div class="container">
  <ngx-spinner type="ball-spin-clockwise-fade" size="medium">
    <p style="font-size: 2em; color: white">Cargando...</p>
  </ngx-spinner>
  <div>
    <div *ngIf="user.id" class="text-center">
      <h2>
        Estimado(a)
        <br />
        {{ user.firstName | titlecase }}
        {{ user.lastName | titlecase }}
      </h2>
      <app-table></app-table>
      <div class="text-center mt-3">
        <h2>¿Puede realizar este pago?</h2>
        <button
          mat-raised-button
          color="primary"
          (click)="this.message.messageDetailInvoices()"
          class="mr-2"
        >
          SI
        </button>
        <button
          mat-raised-button
          color="warn"
          (click)="this.message.messageNoPay()"
        >
          NO
        </button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
