/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
p {
  margin: 0 !important;
}
button {
  margin-right: 2em !important;
}
table {
  width: 100%;
}

.table-total {
  text-align: right;
  font-weight: bold;
  font-size: 1.2em;
}
.container {
  min-height: calc(100vh - 110px);
  padding-bottom: 1rem;
  padding-top: 1rem;
}
/* header */
header {
  height: 4rem;
  max-height: 4rem;
}
/* footer */
footer {
  width: 100%;
  height: 110px;
  background-color: #c2c2c2;
}
.about-us {
  max-width: 260px;
}
/* bootswatch */
.nav-link:hover {
  cursor: pointer;
  font-size: 1rem !important;
  padding-bottom: 1px !important;
  border-bottom: 2px solid #fff;
}
/* login */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
}
.login-form {
  display: inherit;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
  max-width: 250px;
  width: 100%;
  height: 260px;
  padding: 0.5rem;
  border: 1px #c2c2c2 solid;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 33px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 33px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 33px -4px rgba(0, 0, 0, 0.75);
}

.login-full-width {
  width: 70%;
}
.text-warn {
  color: #f44336 !important;
}
.reset-num-attemps {
  position: absolute;
  right: 0;
  left: auto;
}
