<footer class="d-flex flex-column p-0">
  <div class="d-flex justify-content-between flex-wrap">
    <div class="about-us ml-2">
      <h3><b>Acerca de nosotros</b></h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis
      </p>
    </div>
    <div class="d-flex align-content-around flex-wrap ml-5">
      <button mat-raised-button color="primary">
        <i class="fab fa-whatsapp fa-2x pr-2"></i>Whatsapp
      </button>
      <button mat-raised-button color="primary">
        <i class="fas fa-phone-alt fa-2x pr-2"></i>Ya Pague
      </button>
      <button mat-raised-button color="primary">
        <i class="fas fa-money-bill-wave fa-2x pr-2"></i>Telefono
      </button>
    </div>
  </div>
  <p class="text-center">©Copyright Bhcastillor 2020</p>
</footer>
